<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/common_head"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Post List</title>
</head>
<body>

<div th:replace="~{fragments/navBar :: nav}"></div>

<div class="container">

    <h2 class="py-4 font-weight-bold">후기 목록</h2>

    <form class="border border-info p-3 my-3 rounded-lg" method="get" th:action="@{/post/list}">

        <div class="row">

            <div class="form-group col my-auto">
                <input class="form-control" id="companyName" placeholder="기업 명" th:name="companyName" type="text">
            </div>

            <div class="form-group col my-auto">
                <select class="form-control" id="recruitTypes" th:name="recruitType">
                    <option selected value>전형 종류</option>
                    <option th:each="recruitType : ${recruitTypes}" th:text="${recruitType}"
                            th:value="${recruitType}"></option>
                </select>
            </div>

            <div class="form-group col my-auto">
                <input class="form-control" id="authorName" placeholder="작성자" th:name="authorName" type="text">
            </div>

            <div class="form-group col-auto my-auto">
                <select class="form-control" id="orders" name="sort">
                    <option selected value="createdAt,desc">작성순</option>
                    <option value="deadLine,desc">마감일순</option>
                </select>
            </div>

            <div class="form-group col-auto my-auto">
                <button class="btn btn-primary" id="searchBtn" type="submit">검색</button>
            </div>

        </div>


    </form>

    <div class="border rounded-lg p-3" style="background-color: azure">
        <form class="py-3" method="get" th:action="@{/post}">
            <button class="btn btn-outline-primary" type="submit">새 후기 작성</button>
        </form>

        <table class="table table-hover" id="postList">

            <thead class="thead-light">
            <tr>
                <th>기업명</th>
                <th>전형종류</th>
                <th>마감일</th>
                <th>작성자</th>
                <th>후기</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="post : ${postList}">
                <td hidden><a th:value="${post.id}"></a></td>
                <td th:text="${post.companyName}"/>
                <td th:text="${post.recruitType}"/>
                <td th:text="${post.deadLine}"/>
                <td th:text="${post.author.username}"/>
                <td th:text="${post.review}"/>
            </tr>
            </tbody>

        </table>
    </div>
</div>
</body>
<th:block th:replace="fragments/common_script"/>
<script>
    $(document).ready(function () {

        $('#postList tr').click(function () {
            var value = $(this).find('a').attr('value');
            if (value) {
                window.location = '/post/' + value;
            }
        });

    });
</script>
</html>