<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <title>Confirm</title>
</head>
<body>
<div th:replace="~{fragments/navBar :: nav}"></div>

<div class="container">
    <div class="card my-3">
        <div class="card-header">
            접근권한 없음
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">이메일 인증이 완료되지 않았습니다. 메일을 다시 받고 싶으시면 아래의 버튼을 클릭해 주세요.</p>
            <form th:action="@{/member/confirm}" th:method="post">
                <button class="btn btn-primary" type="submit">메일 재발송</button>
            </form>
        </div>
    </div>
</div>
</body>
<th:block th:replace="fragments/common_script"/>
</html>