<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
    <style>
        .login {
            position: absolute;
            top: 50%;
            left: 50%;
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }
    </style>
</head>
<body>
<div class="container login">

    <div class="border shadow w-50 mx-auto p-3">

        <p class="display-4 text-center p-3">Recruit Jogbo</p>

        <form class="w-50 mx-auto" th:action="@{/login}" th:method="post">

            <div class="form-group">
                <input class="form-control" id="username" name="username" placeholder="ID" type="text">
            </div>

            <div class="form-group">
                <input class="form-control" id="password" name="password" placeholder="Password" type="password">
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">로그인</button>
            </div>

            <a class="btn btn-outline-info w-100" th:href="@{/member}">회원가입</a>

        </form>

        <div class="p-3">
            <p class="text-center lead mb-0">Manged by Hellozin</p>
            <p class="text-center blockquote-footer">paul26375@gmail.com</p>
        </div>

    </div>

</div>
</body>
<th:block th:replace="fragments/common_script"/>
</html>