<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="nav">

    <a class="navbar-brand" href="/post/list?createAt,desc">Recruit Jogbo</a>

    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/post/list?createAt,desc">후기</a>
            </li>

            <li>
                <form action="/logout" method="post">
                    <button class="btn btn-link" type="submit">로그아웃</button>
                </form>
            </li>

        </ul>

    </div>

</nav>