<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <title>Error</title>
</head>
<body>
<div th:replace="~{fragments/navBar :: nav}"></div>

<div class="container">
    <div class="card my-3">
        <div class="card-header">
            오류 발생
        </div>
        <div class="card-body">
            <p class="card-text">오류가 발생했습니다.</p>
            <a class="btn btn-outline-primary" href="/login">로그인 화면으로</a>
        </div>
    </div>
</div>
</body>
<th:block th:replace="fragments/common_script"/>
</html>