<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" href="/webjars/bootstrap/4.3.0/dist/css/bootstrap.min.css">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Post List</title>
</head>
<body>
<nav class="navbar navbar-light bg-light p-3">
    <a class="navbar-brand" href="#">
        <h1 class="display-4">Recruit Jogbo</h1>
    </a>
</nav>
<div class="container">

    <h2 class="py-4 font-weight-bold">후기 목록</h2>

    <form method="get" th:action="@{/post/list}">

        <div class="row">

            <div class="form-group col">
                <label for="companyName">회사 이름</label>
                <input class="form-control" id="companyName" th:name="companyName" type="text">
            </div>

            <div class="form-group col">
                <label for="recruitTypes">전형 종류</label>
                <select class="form-control" id="recruitTypes" th:name="recruitType">
                    <option selected value>선택 안함</option>
                    <option th:each="recruitType : ${recruitTypes}" th:text="${recruitType}"
                            th:value="${recruitType}"></option>
                </select>
            </div>

            <div class="form-group col">
                <label for="authorName">작성자</label>
                <input class="form-control" id="authorName" th:name="authorName" type="text">
            </div>

            <div class="form-group col">
                <button class="btn btn-primary" type="submit">검색</button>
            </div>

        </div>

    </form>

    <form class="py-3" method="get" th:action="@{/post/new}">
        <button class="btn btn-danger" type="submit">새 후기 작성</button>
    </form>

    <table class="table" id="postList">

        <thead>
        <tr>
            <th>기업명</th>
            <th>전형종류</th>
            <th>마감일</th>
            <th>작성자</th>
            <th>후기</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="posts : ${postList}">
            <td th:text="${posts.companyName}"/>
            <td th:text="${posts.recruitType}"/>
            <td th:text="${posts.deadLine}"/>
            <td th:text="${posts.author.name}"/>
            <td th:text="${posts.review}"/>
        </tr>
        </tbody>

    </table>
</div>
</body>
<!--<script src="webjars/jquery/3.4.0/dist/jquery.min.js"></script>-->
<!--<script src="webjars/bootstrap/4.3.0/dist/js/bootstrap.min.js"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
</html>